__pycache__/
*.pyc
.git/
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
.github/
# Gradle va Android fayllari
app/
gradle/
build.gradle.kts
gradle.properties
settings.gradle.kts

# Windows executable fayllari
*.bat
*.exe